<div class="bg-custom text-light px-4 py-5 mb-5 text-center">
  <!-- <img
    class="d-block mx-auto mb-4 logo"
    src="assets/encore_white.png"
    alt="encore logo"
  /> -->
  <!-- <h1 class="display-5 fw-bold text-white">Encore</h1> -->
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">
      UnPaSt (Unsupervised Patient Stratification) is a novel method for identification of differentially
      expressed biclusters in gene expression matrix. It searches for sets of
      genes up- or down-regulated in subsets of samples
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="#start"
        ><button type="button" class="btn btn-primary btn-lg px-4 gap-3">
          Start
        </button>
      </a>
      <a target="_blank" href="https://github.com/ozolotareva/DESMOND2">
        <button type="button" class="btn btn-outline-light btn-lg px-4">
          <i class="bi bi-github"></i>&nbsp;Github
        </button>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" id="examples">
  <app-examples></app-examples>
</div>

<div class="container-fluid" id="start">
  <app-start-task></app-start-task>
</div>

<div class="container-fluid" id="tasks">
  <app-previous-analyses></app-previous-analyses>
</div>
