<div class="bg-custom text-light px-4 py-5 mb-5 text-center">
  <!-- <img
    class="d-block mx-auto mb-4"
    src="/assets/desmond.png"
    alt=""
    height="200"
  /> -->
  <h1 class="display-5 fw-bold text-white">Encore</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">
      Identification of differentially expressed gene modules in heterogeneous
      diseases
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="#start"
        ><button type="button" class="btn btn-primary btn-lg px-4 gap-3">
          Start
        </button>
      </a>
      <a target="_blank" href="https://github.com/ozolotareva/DESMOND2">
        <button type="button" class="btn btn-outline-light btn-lg px-4">
          <i class="bi bi-github"></i>&nbsp;Github
        </button>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" id="examples">
  <app-examples></app-examples>
</div>

<div class="container-fluid" id="start">
  <app-start-task></app-start-task>
</div>

<div class="container-fluid" id="tasks">
  <app-previous-analyses></app-previous-analyses>
</div>

<app-modal
  [open]="openModal"
  callbackScrollId="tasks"
  (updateOpen)="openModal = $event"
  title="Task submitted"
  content="Your task with the ID <b>{{
    taskId
  }}</b> was successfully submitted. <br> If you entered your Email, you will receive a notification when the task is completed. Additionally, the task will be listed in the task list and can be accessed here: <a target='_blank' href=http://localhost:64088/result/{{
    taskId
  }}>http://localhost:4200/result/{{ taskId }}</a>"
  buttonLabel="Go to your tasks"
></app-modal>
