.heatmap {
  &-container {
    overflow-x: scroll; 
    position: relative;
  }
  &-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    &-background {
        background-color: gray; 
        opacity: 0.2;
        height: 100%;
        width: 100%;
    }
    &-spinner {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        &-element {
            position: absolute;
            top: 50%;
            width: 5rem;
            height: 5rem;
        }
    }
  }
}
