.heatmap {
  &-container {
    overflow-x: scroll; 
    position: relative;
  }
  &-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    &-background {
        background-color: lightgray; 
        opacity: 1;
        height: 100%;
        width: 100%;
    }
  }
}
