.heatmap {
  &-container {
    overflow-x: initial; 
    position: relative;
    display: inline-block;
  }
  &-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    &-background {
        background-color: lightgray; 
        opacity: 1;
        height: 100%;
        width: 100%;
    }
  }
}
