<div class="row">
  <div class="col-md-4">
    <div
      class="lead"
      [ngClass]="{
        'text-warning': !fileIsUploaded,
        'text-success': fileIsUploaded
      }"
    >
      1. Expression matrix
      <i
        class="bi bi-info-circle text-info"
        placement="top"
        ngbTooltip="A tab-separated file with z-scores of gene expressions. The first column and rows contain gene and sample names, respectively."
      ></i>
    </div>
    <p class="fw-lighter">
      Rows = Genes <br />
      Columns = Samples
    </p>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="upload()">
          <div class="form-group">
            <input
              type="file"
              class="file-upload"
              (change)="selectFile({ event: $event })"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="!file.name || isUploading">
              <span
                *ngIf="isUploading"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span
              >Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
