<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Your Tasks</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">Review finished tasks and inspect their results</p>
    <table
      datatable
      [dtOptions]="dtOptions"
      class="table table-striped row-border"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of analyses">
          <td>{{ a.id }}</td>
          <td>{{ a.date }}</td>
          <td>
            <button type="button" class="btn btn-info">Open</button
            ><button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
