<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold">Your Tasks</h1>
  <p class="lead mb-4">Review finished tasks and inspect their results</p>
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-striped row-border hover"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th class="text-center">Submitted</th>
        <th class="text-center">Name</th>
        <th class="text-center">Status</th>
        <th class="text-center">Binarization</th>
        <th class="text-center">Clustering</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>

    <tbody *ngIf="!taskList.length">
      <tr></tr>
    </tbody>

    <tbody *ngIf="taskList.length">
      <tr *ngFor="let a of taskList">
        <td [attr.data-sort]="a.created">{{ formatDate(a.created) }}</td>
        <td>{{ a.query.name }}</td>
        <td>{{ a.status }}</td>
        <td>{{ a.query.binarization }}</td>
        <td>{{ a.query.clustering }}</td>
        <td>
          <div
            class="btn-group"
            role="group"
            aria-label="Options previous tasks"
          >
            <a target="_blank" href="{{ domain + '/result/' + a.id }}"
              ><button type="button" class="btn btn-success">Open</button>
            </a>
            <button
              type="button"
              class="btn btn-danger"
              (click)="taskService.deleteTask(a.id)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
